.container {
  display: flex;
  align-items: center;
}

.inputCheckbox {
  all: unset;
}

.checkmark {
  display: block;
  width: 1.6rem;
  height: 1.6rem;
  border: 1px solid var(--primary-color);
  border-radius: 3px;
  position: relative;
  cursor: pointer;
}

.inputCheckbox:checked + .checkmark {
  background-color: var(--primary-color);
  transition: ease-in-out 0.2s;
}

.label {
  margin-left: 1rem;
  font-size: 1.6rem;
  color: var(--text-color);
}
