.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: #282c34;
  color: white;

  h1 {
    margin: 0;
    text-align: left;
  }

  button {
    background-color: #61dafb;
    border: none;
    color: black;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;

    border-radius: 0.3rem;

    :hover {
      background-color: #4fa3d1;
    }
  }
}
